# Useful `.gitignore` templates:
# https://github.com/github/gitignore


########################################################
### Python
########################################################
*.pyc


########################################################
### Linux
########################################################
*~


########################################################
### Mac
########################################################
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

########################################################
### Windows
########################################################
Desktop.ini
ehthumbs.db
Thumbs.db


########################################################
### Intellij
########################################################
.idea/
rebel_project.xml
misc.xml


########################################################
### Vagrant
########################################################
.vagrant
ansible.cfg
ansible/plugins/human_log.py
ansible/plugins/human_log.pyc
